<% if (alerts.error) {%>
  <% alerts.error[0].split(',').forEach(function(msg) { %>
    <div class='alert alert-danger'><%= msg %></div>
  <% }); %> 
<% } %>

<% if (alerts.success) { %>
  <% alerts.success[0].split(',').forEach(function(msg) {%>
    <div class='alert alert-success'><%= msg %></div>
  <% }); %>
<% } %>