<% character.forEach(function(character) { %>
  <h2><a href='#'><%= character.name %></a></h2>
  <% if (character.thumbnail.path.split('/').pop() != 'image_not_available'){ %>
    <img src="<%= character.thumbnail.path + '.' + character.thumbnail.extension %>"> 
  <% } %>
  <p><%= character.description %></p>
  <form method="GET" action="/marvel/character">
    <input hidden type="text" name="character" value="<%= character.character %>" >
    <button class="btn btn-primary" type="submit">Add Character to Favorites</button>
  </form>
<% }); %>