<div class="container">
  <h1 class="text-center">My Favorite Heros</h1>
  <p class="text-center">
    <a href="/main">Home</a>
  </p>
</div>

<div>
  <% character.forEach(function(character) {%>
    <p><%= character.character %></p> 
  <form method="POST" action="/marvel/<%= character.id %>/?_method=DELETE">
    <input type="submit" value="Delete" />
  </form>
  <% }); %>
</div>



