<div class="container">
  <h1 class="text-center">My Favorite Heros</h1>
  <p class="text-center">
    <a href="/main">Home</a>
  </p>
</div>
<div>
  <% character.forEach(function(character) {%>
    <h2><a href='/marvel/show/<%= character.character %>'><%= character.character %></a></h2>
  <form method="POST" action="/marvel/favorites/<%= character.id %>/?_method=DELETE">
    <input type="submit" value="Delete" />
  </form>
  <% }); %>
</div>




