<div class="container">
  <h1 class="text-center">My Heros</h1>
  <p class="text-center">
    <a href="/profile">Home</a>
  </p>
  <% character.forEach(function(character) { %>
    <div class="well">
      <h2><a href='/marvel/show<%= character.id %>'><%= character.character %></a></h2>
    </div>
  <% }); %>
</div>