  <h1 class="text-center">My Favorite Heros</h1>
  <p class="text-center">
    <a href="/marvel">Favorites</a> | <a href="/profile">Home</a>
  </p>
  
    <div class="well">
      <h2><%= character.character %></h2> 
      <h4><%= character.description %></h4>
      <h4><%= character.comics %></h4>
      
    </div>