<%# <div class="container">
  <h1 class="text-center">Your Heros</h1>
  <p class="text-center">
    <a href="/characters">Favorites</a>
  </p>
  <% characters.forEach(function(character,i) { %>
    <div class="well">
      <h2><%= character.name.toUpperCase() %></h2>
      <form method="POST" action="/marvel">
        <input hidden type="text" name="name" value="<%= character.name %>" >
        <button class="btn btn-primary" type="submit">Add to Favorite Hero</button>
      </form>
    </div>
  <% }); %>
</div> %>