<h2>Home</h2>

<% if (!currentUser) {%>
  <a href="/auth/signup">Signup</a>
  <a href="/auth/login">Login</a>
<% } else { %>
  <p>Hello, <%= currentUser.name %></p>
  <a href="/auth/logout">Logout</a>
  <a href="/profile">Profile</a>
<% } %>

