<p>Hello, <%= currentUser.name %></p>
<div class='links'>
  <a href="/marvel/favorites/">Favorites</a><br />
  <a href="/auth/logout">Logout</a>
</div>
<div class="character">
  <% characters.forEach(function(character) { %>
    <form method="POST" action="/marvel/">
      <h2><a href='/marvel/show/<%= encodeURI(character.name) %>'><%= character.name %></a></h2>
   </form>
  <% }); %>
</div>



