<p>Hello, <%= currentUser.name %></p>
  <form method="POST" action="/marvel/favorites/">
    <button class="btn btn-primary" type="submit">All my Favorites</button>
  </form>
  <form method="GET" action="/auth/logout"">
    <button class="btn btn-primary" type="submit">Log Out</button>
  </form>
<div class="character">
  <% characters.forEach(function(character) { %>
    <form method="POST" action="/marvel/">
      <h2><a href='/marvel/show/<%= encodeURI(character.name) %>'><%= character.name %></a></h2>
    </form>
  <% }); %>
</div>



