.character {
  height: 100;
  width: 100px;
}

img {
  width: 100px;
  height: 100px;
}

.comic {
  display: inline-block;
  font-size: 14px;
}

.well {
  display: inline-block;
  height: 400;
  width: auto;
}


