.character {
  height: 100;
  background-color: black;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}

.comic {
  display: inline-block;
  font-size: 14px;
}

.show {
  color: black;
  text-align: center;
  height: 30px;
  width: 100%;
  color: #FFF;
  text-align: right;
  line-height: 60px;
  padding: 1.1rem 1.5rem 0 .5rem;
  vertical-align: bottom;
  white-space: nowrap;
}

/* .well {
  display: inline-block;
  height: 400;
  width: auto;
} */


