.character {
  height: 100;
  background-color: black;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}

.comic {
  display: inline-block;
  font-size: 14px;
}

.show {
  color: black;
  text-align: center;
  height: 30px;
  width: 100%;
}

/* .well {
  display: inline-block;
  height: 400;
  width: auto;
} */


